USE [techStore_db_productos]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 12/3/2025 10:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] NULL,
	[nombre] [varchar](50) NULL,
	[precio] [money] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[productos] ([id_producto], [nombre], [precio]) VALUES (101, N'Producto_101', 162.0000)
INSERT [dbo].[productos] ([id_producto], [nombre], [precio]) VALUES (102, N'Producto_102', 601.0000)
INSERT [dbo].[productos] ([id_producto], [nombre], [precio]) VALUES (103, N'Producto_103', 149.0000)
GO
