USE [techStore_db_ventas]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 12/3/2025 10:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id_venta] [int] NULL,
	[id_cliente] [int] NULL,
	[id_producto] [int] NULL,
	[cantidad] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ventas] ([id_venta], [id_cliente], [id_producto], [cantidad]) VALUES (1001, 187, 230, 4)
INSERT [dbo].[ventas] ([id_venta], [id_cliente], [id_producto], [cantidad]) VALUES (1002, 48, 161, 9)
INSERT [dbo].[ventas] ([id_venta], [id_cliente], [id_producto], [cantidad]) VALUES (1003, 51, 258, 5)
GO
