USE [techStore_db_clientes]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 12/3/2025 10:43:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] NULL,
	[nombre] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad]) VALUES (1, N'Cliente_1', N'Valencia')
INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad]) VALUES (2, N'Cliente_2', N'Valencia')
INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad]) VALUES (3, N'Cliente_3', N'Valencia')
GO
